{% extends "master.html" %}
{% block content %}
<div class="container-fluid banner " style="height:80vh;  margin-top:-20%; color:white">
    <div class="container text-center"  >
        <h4 class="display- selamat-datang">SELAMAT DATANG</h4>
        <h3 class="display-1 web">WEB SENTIMEN ANALISIS</h3>
        <hr class="divider" />
        <h6 class="info">Pelajari lebih lanjut mengenai analisis sentimen dengan klasifikasi naive bayes dan dapatkan hasil visualisasi secara langsung. <br>Dont't miss out!!!</h6>
        <a href="https://en.wikipedia.org/wiki/Naive_Bayes_classifier">
            <button class="btn btn-light btn-md fw-bold button-start  mt-5 fs-6" type="button">Belajar TFIDF/NaiveBayes</button>
        </a>
        <center><img src="/static/LOGO.png" alt="" width="30%" srcset=""> </center>
    </div>
</div>

</div>

<!-- LOGIN  -->
  {% endblock %}