{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pydream</title>      
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href={% static 'style.css' %}>

  </head>
  <body>
  <!-- NAVIGASI -->
  <div class="landingp">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent  fixed-top navbar-edit">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="/static/LOGO.png" width="5%">PyDream</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-right" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/predict">Klasifikasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/visualisasi">Visualisasi</a>
                </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/us">Tentang</a>
            </li>
     
          </ul>
          </div>
        </div>
      </nav>
  </div>
      {% block content %}
      {% endblock %}
      <div class="footer col-12 ">
        <div class="row">
          <div class="col-2">
            <img src="/static/LOGO.png" class="logo"  alt="">
          </div>
          <div class="col-10  pt-4">
            <div class="row">
              <div class="col-9">&nbsp;&nbsp;</div>
              <div class="col-3">Copy Right <span style="color: #00FFDD;
                ">PyDream</span> 2022 </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        $('.js-tilt').tilt({
            scale: 1.02
        })
        </script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>

    </script>
    <script>
      AOS.init();
    </script>
  </body>
</html>

