{% extends "master.html" %}
{% block content %}
<div class=" banner " style="margin-top: -20%;" >
    <div class="">
        <div>
          <center> 
              <h1  data-aos="fade-down"
              data-aos-easing="linear"
              data-aos-duration="1500" style="color:white;text-shadow:1px 1px #ededed">PYDREAM'S TEAM</h1>
              <img src="/static/barengan.png" data-tilt data-tilt-max="10" data-tilt-speed="400" data-tilt-perspective="1000"  width="60%" style="margin-top:-10%"alt=""  data-aos="fade-up"
              data-aos-duration="3000"></center>
        </div>
    </div>
</div>
</div>
<DIV class="row"  data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1000">
<div class='col-4'>
    <img src="/static/1.png" width="100%" >
    <CENTER><h2>AI Modeller</h2></CENTER>
</div>
<div class='col-6' style="padding-top:15%">
    <b><p style="text-shadow:1px 1px #050505">YOGA A. Pongtuluran, 21 TAHUN Universitas Sanata Dharma</p></b>
   Menjadi penggali kebenaran yang memperjuangkan keadilan, menghargai keberagaman, dan menjungjung tinggi keluhuran martabat manusia.<br><br>
    <img src="/static/ig.png" alt="" width="5%">@Yogapongtular
</div>
<div class="col-2"></div>
</DIV>
<DIV class="row container"  data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1000">
    <div class="col-2"></div>
    <div class='col-6' style="padding-top:15%">
        <b><p style="text-shadow:1px 1px #050505">Rizqa Amanah Akhiriyah, 21 TAHUN Universitas Budi Luhur</p></b>
        HAI! Aku Rizqa, aku berasal dari Tanggerang  hal yang menunjang keberhasilann kita harus selalu dipaksakan , terpaksan tepaksa terbiasa<br> 
        <img src="/static/ig.png" alt="" width="5%">@Rizqakhir      
    </div>
    <div class='col-4'>
        <img src="/static/2.png" width="100%" >
        <center><h2>Project Mananger</h2></center>
    </div>
 </DIV>
 <DIV class="row container"  data-aos="fade-down"
 data-aos-easing="linear"
 data-aos-duration="1000">
    <div class='col-4'>
        <img src="/static/3.png" width="100%" >
        <center><h2>UI/UX Design</h2></center>
    </div>
    <div class='col-6' style="padding-top:15%">
        <b><p style="text-shadow:1px 1px #050505">Taufik Hidayat, 21 TAHUN Universitas Singa Perbangasa</p></b>
        HAI! Aku Taufik, aku berasal dari Karawang . aku memiliki motivasi ya allah, kalau rezeki itu titipan maka titipkan yang banyak<br><br>
        <img src="/static/ig.png" alt="" width="5%">@Taufik.png
    </div>
    <div class="col-2"></div>
 </DIV>
  <DIV class="row container" data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500">
    <div class="col-2"></div>
    <div class='col-6' style="padding-top:15%">
        <b><p style="text-shadow:1px 1px #050505">Agung Fhajar Fadilah, 22 TAHUN Universitas Suryakancana</p></b>
        HAI! Aku Agung, aku berasal dari Cianjur motivasi ku ialah selalu berkembang jangan pernah gugur!<br><br>
        <img src="/static/ig.png" alt="" width="5%">@Mouyyy999    
    </div>
    <div class='col-4'>
        <img src="/static/4.png" width="100%" >
        <center><H2>Software Engineer</H2></center>
    </div>
    <div class="col-2"></div>
 </DIV>
 <DIV class="row container"  data-aos="fade-down"
 data-aos-easing="linear"
 data-aos-duration="1500">
    <div class='col-4'>
        <img src="/static/5.png" width="100%" >
        <h2><center>CEO</center></h2>
    </div>
    <div class='col-6' style="padding-top:15%">
        <b><p style="text-shadow:1px 1px #050505">Iriyanto Umpes, 22 TAHUN Universitas Negeri Semarang</p></b>
        HAI! Aku  Iriyanto, aku berasal dari Semarang aku memiliki moto hidup hanya karena prosesmu lebih lama bukan berarti kamu gagal<br><br>
        <img src="/static/ig.png" alt="" width="5%">@ianumpes_2566    
        
    </div>
    <div class="col-2"></div>
 </DIV>
<!-- LOGIN  -->

  <div class="container text-left">
    <h2 class="display-3"></h2>

  </div>
  {% endblock %}